.preview__wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 199;

  .form_wrap {
    max-width: 57rem;
    padding: 30px 0;
  }
}
