* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#app {
  // font-family: sourceHanSans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.page_wrapper {
  width: 100vw;
  height: 100vh;

  .head__container {
    position: relative;
    height: 3.5rem;
    width: 100%;
    text-align: center;
    line-height: 3.5rem;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px #0c1f500b;
    background-image: linear-gradient(
      to left,
      #faf2f4 0%,
      #fafefa 39%,
      #ebf2fd 50%,
      #fef7fc 81%,
      #fbfbee 100%
    );
    z-index: 99;

    & > span {
      font-size: 1.3rem;
      font-weight: 600;
    }

    .button_group {
      display: flex;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .home__wrapper {
    display: flex;
    flex: 1;
    height: calc(100% - 3.5rem);

    > .el-scrollbar {
      flex: 1;
      transition-property: background-color, backdrop-filter, position, z-index;
      transition-duration: .3s;
      transition-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);


      .el-scrollbar__view {
        display: flex;
        justify-content: center;
        padding: 20px 20px 0;
        min-height: 100%;
        background-color: #f9fafb;
      }
    }

    .plugins_wrap {
      width: 16.5rem;
      background-color: #fff;

      .el-scrollbar__view {
        padding: 10px 25px 10px 20px;
      }
    }
  }
}

.form_wrap {
  max-width: 56.25rem;
  height: 100%;

  .form_card {
    width: 100%;
    height: 100%;

    .form_head {
      padding-bottom: 12px;
      margin-bottom: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 10px #0c1f5014;
      background-color: #fff;

      & .inseted:hover {
        background-color: #f4f5f5;
      }

      .form_head_main {
        flex: 1;
        background-color: #fff;
        border-radius: 1rem 1rem 0 0;
        // background-image: linear-gradient(-20deg, #fbfcdb 0%, #e9defa 100%);

        img {
          width: 100%;
        }

        .form_head_title {
          display: flex;
          align-items: center;
          margin: 20px 16px 0;

          .title_context {
            width: 100%;
            padding: 5px 4px;
            border-radius: 3px;
            font-size: 20px;
            line-height: 1.5;
            font-weight: bold;
            color: #131416;
            cursor: pointer;
            transition: all ease 0.2s;
          }
        }
      }

      .form_head_attach {
        margin: 0 16px;

        .attach_context {
          display: flex;
          align-items: center;
          padding: 4px;
          margin: 4px 0;
          border-radius: 3px;
          color: #aaaeb3;
          font-size: 14px;
          cursor: pointer;
          transition: all ease 0.2s;
        }
      }
    }

    .plugin_title {
      padding: 4px 0 10px;
      font-size: 0.875rem;
      min-height: 1.875rem;
    }
  }
}

.preview {
  .home__wrapper > .el-scrollbar {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28394a57;
    // backdrop-filter: blur(1px);
    z-index: 999;

    .el-scrollbar__view {
      background-color: transparent;
    }
  }

  .plugin_config {
    display: none;
    visibility: hidden;
  }
}
